*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 80%;
    height: auto;
    margin: 25px auto;
}
ul{
    width: 100%;
    height: auto;
    margin-top: 10px;
    list-style: none;    
}
li{
    display: inline-block;
    margin-left: 5px;
}